.box{
     height: 100px;
     width: 300px;
     background-color: pink;
     /* animation-name: widthanimation;
     animation-duration: 2s;
     animation-timing-function: ease-in;
     animation-delay: 0;
     animation-iteration-count: infinite;
     animation-direction: normal; */
     animation: coloranimation 4s ease-in 0s infinite normal;
}
@keyframes fontanimation {
     from{
          font-size: 20px;
     }
     to{
          font-size: 40px;
     }
}
@keyframes coloranimation {
     0%{
          background-color: blue;
          border-radius: 5px;
     }
     50%{
          background-color: aquamarine;
          border-radius: 10px;
     }
     80%{
          background-color: blueviolet;
          border-radius: 15px;
     }
     100%{
          background-color: beige;
          border-radius: 20px;
     }
}
@keyframes widthanimation {
     from{
         width:10px;
         background-color: blue;
     }
     to{
          width:400px;
          background-color: bisque;
          border-radius: 15px;
     }
}