#container{
     height: 400px;
     width: 400px;
     background-color: aliceblue;
     justify-content: space-evenly;
     flex-wrap: wrap;
     display: flex;
     border: 2px solid lightseagreen;
     border-radius: 10px;
     align-items: center;
}
.block{
     height: 100px;
     width: 100px;
     background-color: grey;
     border: 2px solid black;
     text-align: center;
     font-size: 50px;
}
#nav{
     height: 50px;
     width: 900px;
     background-color: pink;
     display: flex;
     flex-direction:row;
     justify-content: flex-start;
     border-radius: 10px;
     border: 2px solid lightseagreen;
     align-content: center;
}
.bar{
     height: 50px;
     width: 80px;
     border-radius: 10px;
     font-size: 24px;
     margin-left: 5px;
}