.container{
     width: 600px;
     height: 300px;
     background-color:rgb(240, 238, 143);
     display: grid;
     /* grid-template-rows: 100px 100px 100px 100px 100px;
     grid-template-columns: 50px 50px 50px; */

     /* grid-template-rows: repeat(5,1fr);     the below is another form of this line */
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 

     grid-template-columns: repeat(3,1fr);

     /* grid gap */

     /* 1st method */
     /* row-gap: 10px;
     column-gap: 10px; */

      /* grid gap shortand */
      grid-gap: 10px;

      /* common properties  */
      /* justify-items: center;
      align-items: center; */
      place-items: center;
}
/* grid coloumn:   this space will be reserved for the item regardless it.s height and width */
/*.one{
     /* grid-column-start:1 ;
     grid-column-end:3 ; */

     /* shorthand */
     /* grid-column: 1/3; */

/* .one{
      /* item will be placed vertically on end and hortizontally at the start */
      /* justify-self: start;
      align-self: end;
 */
 .one{
     place-self: start;
 }

/* grid row */
/* .two{
     /* grid-row-start:1 ;   this property will be considered over one class due to css selectivity
     grid-row-end:3 ; */

     /* grid-row: 1/ span 2; */

.item{
     height: 50px;
     width: 100px;
     background-color:greenyellow;
     border: 2px solid black;
     text-align: center;
}