div{
     height: 200px;
     width: 500px;
     background-color: pink;

     /* border-width: 4px;
     border-style: solid;
     border-color: black; */
/* 
     border shorthand(all prop in one line width|style|color) */
     border:4px solid black;

     /* border sides */
     /* border-left-style:dotted;
     border-left-color:grey ; */
     /* border-top: 2px groove grey; */

     /* border radius */
     border-radius: 15px;
     /* border-top-right-radius: 15px; (for individually editing a corner of a border)
     border-bottom-left-radius: 15px; */

     padding-top: 10px;
     margin: 20px 30px 40px 50px;

}
button{
     border-radius: 25px;
     padding-left: 25px;
     padding-right: 25px;
     background-color: beige;
}