h1{
     background-color: yellow;
     border: 2px solid black;
}
@media(width:400px)
{
     h1{
          background-color: red;
          color: aliceblue;
     }
}
@media(min-width:700px)
{
     h1{
          background-color: yellowgreen;
     }
}
@media(max-width:200px)
{
     h1{
          background-color: rgb(25, 121, 205);
     }
}
@media(min-width:200px) and (max-width:300px)
{
     h1{
          background-color: magenta;
     }
}
@media(orientation:landscape)
{
     h1{
          background-color: aquamarine;
     }
}