/* universal selector */
*{
     font-family:'Courier New', Courier, monospace;
}
/* element selector */
h1{
     color:#b92b27;
}
/* id selector */
#login{
     background-color: aliceblue;
}

#signup{
     background-color: #b92b27;
     color: azure;
}
/* class selector */
.myclass{
     background-color: green;
     color: aliceblue;
}
/* descendent selector */
.post a{
     color:blueviolet;
     background-color: darkgrey; 
}
nav ul li{
     color: darkorchid;
}
/* adjacent sibling combinator */
p+h3{
     text-decoration: underline;
}
.myclass+button{
     background-color: deepskyblue;
}
/* child combinator */
div>input{
     background-color: darksalmon;
}
/* attribute selector */
input[type="text"]{
     color: #b92b27;
}
input[type="password"]{
     color: #c47a1a;
}
input[type]{
     background-color: aliceblue;
}
/* pseudo class */
button:hover{
     background-color: black;
     color: aliceblue;
}
h3:hover{
     text-decoration: wavy;
}
button:active{
     background-color: hotpink;
}
p:active{
     font-weight: bold;
     color: aquamarine;
}
input[type="radio"]:checked+label{
     font-weight: bold;
     color: #b92b27;
}
.post:nth-of-type(2n){
     background-color:blanchedalmond

}
/* pseudo elemetns */
h1::first-letter{
     color:black;
}
p::first-line{
     color:red;
}
p::selection{
     color:bisque;
}