.face{
     width: 400px;
     height: 400px;
     border-radius: 50%;
     background-color: orange;
}
.mouth{
     width: 200px;
     height: 75px;
     border-radius: 0 0 25px 25px;
     background-color: brown;
     position: absolute;
     left: 100px;
     top: 250px;
}
.left-eye,.right-eye{
     height: 70px;
     width: 70px;
     border-radius: 50%;
     background-color: black;
     display: inline-block;
     position: absolute;
     top:100px;
     left:100PX

}
.left-eye{
     left:250px ;
}
.right-eye{
     left: 100px;
}