/* div{
     height: 200px;
     width: 200px;
     background-color: aqua;
      transition:1s; 
}
div:hover{
     background-color: black;
     border-radius: 50%;
} */
.card{
     width: 200px;
     height: 200px;
     border:2px solid black;
     border-radius: 5px;
     box-shadow: 0px 4px 8px black;
     transition: 0.5s;

}
img{
     width: 100%;
     border-radius: 5px 5px 0 0;
}
.card:hover{
     box-shadow: 0px 10px 26px black;
}
